<!-- Needs to be referenced, but this is the basic outline for the login page, style will come later -->

<!DOCTYPE html>
<html>
<head>
	  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>

<body>
	<form name="login" action="index_submit" method="get" accept-charset="utf-8">
		<div>
			<ul>
				<li>
					<label for="usermail">Username</label>
					<input type="login" name="usermail" placeholder="Username" required>
				</li>
				<li>
					<label for="password">Password</label>
					<input type="login" name="password" placeholder="Password" required></li>
				<li>
					<input type="submit" value="Log in" style="width:100px; height:30px;">
				</li>
			</ul>
	</form>
</body>
</html>
					