

<ol style="list-style-type:none;" type="1">
  <li ng-repeat="Strings in Comics.content" style="margin-bottom: 50px;">
    <a ng-class="{ testClass: $index == pageNumber }" ng-click="setPageNumber($index)">
      <img src={{Strings}}  width="500" height="500" align="middle"></a>
  </li>
</ol>
<input class="test" type="file"  accept="image/*">
<button  class="btn btn-default btn-md" style="float:left;" ng-click="addCell()" >Add Cell</button>
<button  class="btn btn-default btn-md" style="float:left;" ng-click="moveCell()" >Move Cell</button>
<button  class="btn btn-default btn-md" style="float:left;" ng-click="swapCell()" >Swap</button>
<button  class="btn btn-default btn-md" style="float:left;" ng-click="deleteCell()" >Delete Cell</button>
<button  class="btn btn-default btn-md" style="float:left;" ng-click="publish()" >Publish</button>
<button  class="btn btn-default btn-md" style="float:left;" ng-click="save()" >Save</button>



