body {
    background: #C0C0C0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #41A317;
}

.active {
    background-color: #41A317;
}

#header {
    margin-top: 30px;
    font-size: 30px; <!--150% before -->
    color:black;
    text-align:center;
    padding:1px;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}
#section {
    padding:10px;
    text-align:center;
}

div.title {
    padding: 15px;
    text-align: left;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;}

div.img {
    margin: auto;
<!--    border: 1px solid #ccc; -->
    float: center;
    width: 500px;
    height: 500px;
}

div.img img {
    width: 100%;
    height: auto;
}

