<!--
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../login/login.css">
    <title>Sign up page</title>
</head>
<body>
-->
<style>
  .navbar{
    display: none;
  }
</style>

  <form class="form" name="form" ng-submit="bm.register(form)" novalidate>
    <div class="login well">
      <ul class="login">
        <li class="login" ng-class="{ 'has-success': form.name.$valid && bm.submitted, 'has-error': form.name.$invalid && bm.submitted }">
          <label>Username</label>
          <input class="login" type="text" name="name" placeholder="Username" ng-model="bm.user.name" required></input>
        </li>
        <p class="help-block" ng-show="form.name.$error.required && bm.submitted" style = "text-align:right; color: red;">
            A name is required
        </p>
        <li class="login" ng-class="{ 'has-success': form.email.$valid && bm.submitted, 'has-error': form.email.$invalid && bm.submitted }">
          <label>E-mail</label>
          <input class="login" type="email" name="email" placeholder="E-mail" ng-model="bm.user.email" required mongoose-error></input>
        </li>
          <p class="help-block" ng-show="form.email.$error.email && bm.submitted" style = "text-align:right; color: red;">
            Are you sure that's a valid email?
          </p>
          <p class="help-block" ng-show="form.email.$error.required && bm.submitted" style = "text-align:right; color: red;">
            What is your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose" style = "text-align:right; color: red;">
            {{ bm.errors.email }}
          </p>
        <li style="text-align: left; margin-left: 38px;">
        <label>I would like to:</label>
        </li>
        <li class="login" style="text-align: left; margin-left: 160px;">
          <input class="login" type="radio" name="role" ng-model="bm.user.role" value="user"> Contribute<br>
        </li>
        <li class="login" style="text-align: left; margin-left: 160px;">
          <input class="login" type="radio" name="role" ng-model="bm.user.role" value="guest" required> Just View<br>
        </li>
        <p class="help-block" ng-show="form.role.$error.required && bm.submitted" style = "text-align:right; color: red;">
            Pick one!
        </p>
        <li class="login" ng-class="{ 'has-success': form.password.$valid && bm.submitted, 'has-error': form.password.$invalid && bm.submitted }">
          <label>Password</label>
          <input class="login" placeholder="Password" type="password" name="password" ng-model="bm.user.password" ng-minlength="3" required mongoose-error></input>
        </li>
        <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && bm.submitted" style = "text-align:right; color: red;">
            Password must be at least 3 characters long.
        </p>
        <li class="login" ng-class="{ 'has-success': form.confirmPassword.$valid && bm.submitted, 'has-error': form.confirmPassword.$invalid && bm.submitted }">
           <label>Retype Password</label>
          <input class="login" placeholder="Confirm Password" type="password" name="confirmPassword" ng-model="bm.user.confirmPassword"
                 match="bm.user.password" ng-minlength="3" required></input>
        </li>
        <p class="help-block"
             ng-show="form.confirmPassword.$error.match && bm.submitted" style = "text-align:right; color: red;">
            Passwords don't match.
        </p>
        <li class="login">
          <input class="login" type="submit" value="Create Account"></input> 
        </li>
      </ul>
    </div>
  </form>




<!--
</body>
</html>
-->
