<div id="headercreateacomic">
	<h1 id="headercreateacomic">The Feed</h1>
</div>

<div class="imgcreateacomic">
<ul style="list-style-type:none;">
  <li ng-repeat="Comics in Comics" style="margin-bottom: 50px;">
    <h2>{{ Comics.name }}</h2>
 <!--   <img src={{Comics.content[0]}} alt="Shows up when you hover" width="500" height="500" align="middle"> -->
    <p ng-repeat="Strings in Comics.content">
      <img src={{Strings}}  width="500" height="500" align="middle">
    </p>
    <span class="alignLeft">By:</span>
    <span class="alignRight"><b><a ng-repeat="c in Comics.contributors">
      {{c.name}}
    </a></b>
    </span>
    <br>
    <br>
    <button ng-show="fc.isContributor()" class="btn btn-default btn-md" ng-click="fc.deleteComic(Comics)">Delete</button>
  </li>
  <br>
</ul>
</div>
