
  <form class="form-horizontal" role="form">

    <p class = "container" ng-hide="editorEnabled">
      <button type="button" class="btn btn-default pull-right" onclick="window.location.href='/change-password'">Change Password</button>
    </p>
    <p class = "container" ng-hide="editorEnabled">
      <button type="button" class="btn btn-default pull-right" ng-click="enableEditor()">Edit Profile</button>
    </p>
    <p class = "container" ng-show="editorEnabled">
      <button type="button" class="btn btn-default pull-right" ng-click="disableEditor()">Cancel</button>
    </p>
    <p class = "container" ng-show="editorEnabled">
       <button type="submit" class="btn btn-default pull-right" ng-click="save()">Save Changes</button>
    </p>

    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username:</label>
      <div class="col-sm-10">
        <div ng-hide="editorEnabled" style="padding-top: 8px">
          {{name}}
        </div>
        <div class = "container  col-xs-8" ng-show="editorEnabled">
          <input type="text" class="form-control" ng-model="editableName" ng-show="editorEnabled"> <!--while editing this shows-->
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="personalWebsite">Personal Website:</label>
      <div class="col-sm-10">
        <div ng-hide="editorEnabled" style="padding-top: 8px">
          {{personalWeb}}
        </div>
        <div class = "container col-xs-8" ng-show="editorEnabled">
          <input type="text" class="form-control" ng-model="editablePersonalWeb" ng-show="editorEnabled">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="interests">Interests:</label>
      <div class="col-sm-10">
        <div ng-hide="editorEnabled" style="padding-top: 8px">
          {{interests}}
        </div>
        <div class = "container col-xs-8" ng-show="editorEnabled">
          <input type="text" class="form-control" ng-model="editableInterests" ng-show="editorEnabled">
        </div>
      </div>
    </div>

  </form>
<!-- http://icelab.com.au/articles/click-to-edit-with-angularjs/ -->
