input.login[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input.login[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input.login[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input.login[type=submit] {
	height:30px;
}
input.login[type=button] {
	height:30px;
}
div.login{
	width:450px;
	margin-right:auto;
	margin-left:auto;
	margin-top: 100px;
	margin-bottom: auto;
}
ul.login{
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 20px;
	list-style-type: none;
}
li.login {
	text-align: right;
}